In [ ]:
#top250 movie list
#name of the movies
#year of the movies
#point of the movies

In [ ]:
import requests

In [ ]:
#pip install requests
import requests
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
url='https://www.imdb.com/chart/top/?ref_=nv_mv_250'
response=requests.get(url,verify=False)
response.text

#pip install requests
import requests
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
url='https://www.imdb.com/chart/top/?ref_=nv_mv_250'
mysession=requests.session()
mysession.verify=False
#timeout=requests.Timeout(150)
response=mysession.get(url)
response.text

In [ ]:
!pip install bs4

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(response.content,'html.parser')
soup

In [ ]:
#<td class="titleColumn">

In [ ]:
movies = soup.find_all('td', {"class":"titleColumn"})
movies

In [ ]:
for movie in movies:
    #print(movie)
    print(movie.get_text().strip())

In [ ]:
movie_names=[]
movie_years=[]

for movie in movies:
    #print(movie)
    #print(movie.get_text().split('\n'))
    #print(movie.get_text().split('\n')[0]) #
    #print(movie.get_text().split('\n')[1]) # 
    #print(movie.get_text().split('\n')[2]) # name of the movies
    #print(movie.get_text().split('\n')[3]) # year of the movies
    #print(movie.get_text().split('\n')[4]) # 
    movie_names.append(movie.get_text().split('\n')[2].strip())
    movie_years.append(movie.get_text().split('\n')[3])

In [ ]:
len(movie_years)

In [ ]:
len(movie_names)

In [ ]:
#top250 movie list
#name of the movies : OK
#year of the movies : OK
#point of the movies

In [ ]:
#<td class="ratingColumn imdbRating">

In [ ]:
rating = soup.find_all('td',{"class":"ratingColumn imdbRating"})
rating

In [ ]:
movie_points=[]
for rate in rating:
    #print(rate)
    #print(rate.get_text().strip())
    movie_points.append(float(rate.get_text().strip()))
movie_points

In [ ]:
years=[]
for year in movie_years:
    #print(yil)
    year = year.replace('(','')
    year = year.replace(')','')
    years.append(int(year))
print(type(years[0]))

In [ ]:
movie_names

In [ ]:
years

In [ ]:
print(type(movie_points[0]))

In [ ]:
import pandas as pd

In [ ]:
imdb= {'Name':movie_names,'Year':years,'Point':movie_points}
len(imdb)

In [ ]:
len(imdb['Name'])

In [ ]:
len(imdb['Year'])

In [ ]:
len(imdb['Point'])

In [ ]:
df= pd.DataFrame(imdb)
df

In [ ]:
years_asc = df.sort_values('Year')
years_asc

In [ ]:
years_desc = df.sort_values('Year',ascending=False)
years_desc

In [ ]:
#<td class="ratingColumn imdbRating">
rating

In [ ]:
for movie in movies:
    #print(movie)
    print(movie.get_text().split('\n'))

In [ ]:
movie_points

In [ ]:
Erdeniz=[18,19,20]
Erdeniz

In [ ]:
Erdeniz,Erdem,Bahadir=[18,19,20]
Bahadir

In [ ]:
Erdeniz,Erdem=[18,19]

In [ ]:
_,Erdem,_=[18,19,20]
Erdem

In [ ]:
#<td class="titleColumn">
top250=[]
i=0
for movie in movies:
    _,_,names,years,_ = movie.get_text().split('\n')
    top250.append({'TITLE':names.strip(),'YEAR':years,'POINTS':movie_points[i]})
    i+=1
len(top250)

In [ ]:
top250[0]['POINTS']

In [ ]:
top250[0]['TITLE']

In [ ]:
#import io
with open('IMDBTOP250.txt','w') as f:
    for film in top250:
        f.write('Movie Name: '+film['TITLE']+','+'Movie Year: '+film['YEAR']+','+'Movie Point: '+str(film['POINTS'])+'\n')

In [ ]:
import io
with open('IMDBTOP250.txt','w',encoding='utf-8') as f:
    for film in top250:
        f.write('Movie Name: '+film['TITLE']+','+'Movie Year: '+film['YEAR']+','+'Movie Point: '+str(film['POINTS'])+'\n')

In [ ]:
top250

In [ ]:
import json

In [ ]:
with open('top250.json','w') as f:
    f.write(json.dumps(top250))